p {
    color:rgb(25, 0, 255);
    font: size 24px;
    font-family: Arial, Helvetica, sans-serif;
}

strong {
    color:black;
    font-size: 28px;
}

body {
    background-color: goldenrod;
    width: 1200px;
    margin: 0 auto;
    padding: 15px;
    border: 2px solid black;
}

h4 {
    text-align: center;
}

img {
    border-radius: 40px;
}

li {
    background-color: aliceblue;
}